<div id="contact">
    <h2 class="contact-head">Drop Me a Line, Let Me Know What You Think</h2>
    <form action="" class="contact-form">
        <div class="name">
            <input type="text" placeholder="First Name*" required>
            <input type="text" placeholder="Last Name*" required>
        </div>
        <input type="email" placeholder="Email*" required>
        <textarea class="msg" placeholder="Message..."></textarea>
    </form>
</div>

