<%- include("partials/header") %>
<div class="about-section">
<h1>About Me</h1> 
<img id="about-img" src="/images/photo.png" alt="">
<p class="about-text">
    <b>Hey there 👋, I’m Ramzin!</b> <br>

I’m currently doing my B.Tech in IT at CUSAT, and this blog is my space to share the ups and downs of learning, coding, and figuring things out as I go. Think of it as a mix of a diary, a resource hub, and a personal project showcase.

I’m super interested in web development right now—starting with frontend, moving into backend, and slowly working towards becoming a full-stack developer. Along the way, I’ll also share side projects, experiments, and maybe even a few random thoughts that pop into my head.

Outside of tech, I love gaming, exploring creative ideas, and sometimes just chilling with friends or binge-watching shows. I like to keep things simple, fun, and real.

If you’ve stumbled onto my blog, welcome! I hope you find something here that inspires you, makes you smile, or maybe even helps you in your own journey. 🌱

</p>
</div>


<%- include("partials/contact") %>
<%- include("partials/footer") %>